html, body, p, ul, li, h1, h2{
    margin: 0;
    padding: 0;

  }
    h1, h2 {
        font-size: 16px;
        font-weight: normal;
    }

    ul{
        list-style: none;;
    }

    html {
        background-color: white;
        font-size: 17px;
        min-width: 300px;
        -webkit-text-size-adjust: auto;
        
    }

    body{
        color: #4a4a4a;
        font-size:12px;
        font-weight:400;

    
    }
    ul, code, a{
        color: #3273dc;
        font-size: 14px;
        
    }
    